<% if current_user != nil %>
	<p>
		<%= link_to 'Edit', edit_article_path(@article) %>
	</p>
<% end %>

<p id="notice"><%= notice %></p>

<h2 class="title">
  <%= @article.title %>
</h2>

<%= @article.body.html_safe %>


