body	{
	background:url(../images/main_bg.jpg) repeat-x #000;
	margin:0;
	padding:0;
	font-family:Helvetica;
	line-height:150%;
}

#wrapper	{
	width:960px;
	margin:0 auto;
	position:relative;
}

#header	{
	height:162px;
}

#header ul	{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	width:700px;
	margin-top:111px;
}
	#header ul li	{
		float:right;
		padding:0 40px;
	}
	#header ul li:first-child	{
		padding-right:0;
	}
		#header ul li a	{
			height:35px;
			text-decoration:none;
			font-size:21px;
			color:#eee7d8;
			display:block;
			padding-top:15px;
			font-weight:100;
		}
			#header ul li a:hover	{
				color:#fff;
			}

#logo	{
	position:absolute;
	top:10px;
	left:0;
	margin:0;
	z-index: 1200;
}

	#logo a	{
		display:block;
		width:220px;
		height:220px;
		text-indent:-9999px;
		background:url(../images/logo.png) no-repeat 0 0;
	}
	
#content	{
	background:#eee7d8;
	box-shadow:0 7px 6px #000;
	font-family:Georgia;
	color:#3a3a3a;
}
	
#slideshow	{
	height:300px;
	margin-bottom:35px;
}

#footer	{
	border-top:1px solid #c1ab69;
	background:#9a864a;
	padding:20px 0;
	z-index:1000;
	position:relative;
	color:#6e6035;
	font-size:13px;
	
	box-shadow:0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow:0 0 3px rgba(0,0,0,.5);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.5);
}

#footer_container	{
	width:960px;
	margin:0 auto;
	position:relative;
}

.wt-rotator	{
	border:0;
}

.leftCol	{
	width:580px;
	padding-left:25px;
	float:left;
	padding-bottom:50px;
}

.rightCol	{
	width:285px;
	padding:0 25px 40px;
	float:right;
	border-left:1px solid #e0d6c2;
}
	
h2	{
	font-family:Helvetica;
	color:#604202;
	font-size:21px;
}
	
h3	{
	font-family:Georgia;
	color:#604202;
	font-size:14px;
}
	
.clear 	{
	clear:both;
}
	
.news	{
	font-size:13px;
	line-height:140%;
}

.meta	{
	font-style: italic;
}
	
	
	
